:root {
  --font-primary: "Raleway", serif;
  --font-secondary: "Oswald", serif;
  /* кольори */
  --color-text-primary: #000000;
  --color-text-contrast: #ffffff;
  --color-button: #b2ffa6;
  --color-bg-primary: #121212;
  --color-bg-section: #efefef;
}
body {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: var(--color-bg-primary);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list {
  display: flex;
  gap: 100px;
  align-items: center;
}
.nav-link {
  color: var(--color-text-contrast);
  font-family: var(--font-secondary);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-button);
}

/* Секція hero */
.hero-container {
  display: flex;
  gap: 342px;
}

.hero-content {
  padding-top: 150px;
  padding-bottom: 365px;
}
.hero-title {
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.hero-part {
  font-weight: 700;
  font-size: 64;
}
.hero-button {
  line-height: 1.5;
  letter-spacing: 0.06em;
  background-color: var(--color-button);
  font-family: var(--font-secondary);
  padding: 15px 80px;
  border-radius: 5px;
}
.hero-button:hover {
  cursor: pointer;
  background-color: #b2ffa6c8;
  font-style: oblique;
}

/* Секція about */
.about {
  background-color: var(--color-bg-section);
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-container {
  display: flex;
  gap: 78px;
  align-items: center;
}
.about-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.about-text {
  font-size: 32px;
}
.about-text:first-of-type {
  margin-bottom: 40px;
}
.about-text:last-of-type {
  margin-bottom: 60px;
}
.about-link {
  display: inline-block;
  padding: 15px 80px;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: #b2ffa6;
  font-family: var(--font-secondary);
  text-decoration: none;
}
/* Секція features */
.features-container {
  display: flex;
  gap: 174px;
  align-items: center;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 115px;
  row-gap: 88px;
}
.features-item {
  max-width: 407px;
}
.features-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
/* Секція services */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-bg-section);
}
.services-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
}

.services-text {
  font-size: 32;
  text-align: center;
  max-width: 1346px;
}
.services-list {
  display: flex;
  margin-bottom: 24px;
  gap: 20px;
}
.services-photo {
  margin-bottom: 25px;
}
.services-name {
  font-weight: 600;
}
.services-button {
  font-family: var(--font-secondary);
  border: 3px solid var(--color-button);
  border-radius: 5px;
  padding: 15px 80px;
  cursor: pointer;
}
/* Секція footer */
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: var(--color-bg-primary);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  max-width: 78px;
}
.logo-text{
  font-size: 40px;
}
.logo {
  gap: 50px;
  display: flex;
  align-items: center;
  font-size: 40;
  font-weight: 300;
  color: var(--color-text-contrast);
  text-decoration: none;
}
.logo-part {
  font-weight: 700;
}
.footer-policy {
  color: var(--color-text-contrast);
}
